.characteristics {

    &__container {
        background-color: var(--color-black-02);
        display: flex;
        flex-direction: column;
        padding: 20rem 120rem 159rem 120rem;
        position: relative;

        @media (max-width: $tablet) {
            padding: 50rem 20rem 70rem 20rem;
            align-items: center;
        }
    }

    &__heading {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 270rem;

        @media (max-width: 1397px) {
            gap: 50rem;
        }

        @media (max-width: $tablet) {
            padding-top: 60%;
            flex-direction: column;
            align-items: center;
        }
    }

    &__info {
        width: 50%;
        margin-top: 140rem;

        &-title {
            font: var(--innovations-title-font);
            line-height: 110%;
            letter-spacing: 0.96px;
            text-transform: uppercase;
            margin-bottom: 20rem;

            @media (max-width: $tablet) {
                font: var(--heading-mobile-title-font);
            }
        }

        &-text {
            font: var(--innovations-description-font);
            line-height: 110%;
            letter-spacing: 0.44px;
            margin-bottom: 40rem;

            @media (max-width: $tablet) {
                font: var(--heading-mobile-sub-title-font);

            }
        }

        @media (max-width: $tablet) {
            width: 100%;
            text-align: center;

        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 22rem;

        &-green {
            width: 250rem;
            font: var(--characteristics-button-font);
            line-height: 100%;
            letter-spacing: 0.32px;
            padding: 19rem 15rem;

            @media (max-width: $tablet) {
                width: 100%;
            }
        }

        &-black {
            width: 250rem;
            font: var(--characteristics-button-font);
            line-height: 100%;
            letter-spacing: 0.32px;

            @media (max-width: $tablet) {
                width: 100%;
            }
        }

        @media (max-width: $tablet) {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }

    &__img {
        width: 50%;
        margin-top: 60rem;

        @media (max-width: 1397px) {
            margin-top: 10%;
        }

        @media (max-width: 1096px) {
            margin-top: 17%;
        }

        @media (max-width: $tablet) {
            position: absolute;
            top: 10rem;
            width: 80%;
        }
    }

    &__frame {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (max-width: $tablet) {
            margin-top: 30rem;
            width: 100%;
            align-items: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 6rem;

        width: 20%;


        &-title {
            font: var(--characteristics-title-font);
            color: var(--color-sand);
            line-height: 110%;
            letter-spacing: 0.36px;
            padding-bottom: 6rem;

            @media(max-width: $tablet) {
                font: var(--characteristics-mobile-title-font);
            }
        }

        &-text {
            font: var(--characteristics-description-font);
            line-height: 110%;
            letter-spacing: 0.36px;

            @media(max-width: $tablet) {
                font: var(--characteristics-mobile-description-font);
                text-wrap: wrap;
                word-break: break-all;
            }
        }

        @media (max-width: 1246px) {
            width: 50%;
        }

        @media (max-width: $tablet) {
            width: 50%;
        }
    }

    &__card {
        background-color: var(--color-black-19);
        padding: 20rem;
        margin: 20rem;
        height: 100%;
        min-height: 106rem;
        border-radius: 10rem;

        @media (max-width: $tablet) {
            margin: 10rem;
        }
    }


}