.everyone {
    &__container {
        padding: 0 261rem 160rem 261rem;
        background-color: var(--color-black-19);

        @media (max-width: $tablet) {
            padding: 0rem 20rem 70rem 20rem;
        }
    }

    &__title {
        font: var(--innovations-title-font);
        text-align: center;
        text-transform: uppercase;
        line-height: 110%;
        letter-spacing: 0.96px;
        padding: 42rem 104rem 30rem 104rem;

        &-item-thin {
            font: var(--innovations-sub-title-font);

            @media (max-width: $tablet) {
                font: var(--everyone-mobile-thin-title-font);
            }
        }

        @media (max-width: $tablet) {
            font: var(--everyone-mobile-title-font);
            padding: 0rem 10rem 70rem 20rem;
        }
    }

    &__frame {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &-item {
            width: 50%;

            @media (max-width: $tablet) {
                width: 100%;
                padding: 14rem;
            }
        }

        &-item:nth-child(1) {
            padding-right: 24rem;
            padding-bottom: 24rem;
        }

        &-item:nth-child(2) {
            padding-bottom: 24rem;
        }

        &-item:nth-child(3) {
            padding-right: 24rem;
        }

        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    &__box {
        display: flex;
        flex-direction: row;
        padding: 30rem 50rem;
        background-color: var(--color-black-1E);

        @media (max-width: $tablet) {
            padding: 20rem;
        }
    }

    &__box-img {
        max-width: 176rem;
        max-height: 176rem;
        padding-right: 20rem;

        @media (max-width: $tablet) {
            max-width: 100rem;
            max-height: 100rem;
        }
    }

    &__description {
        &-title {
            font: var(--innovations-frame-title-font);
            color: var(--color-sand);
            padding-bottom: 20rem;
            line-height: 110%;
            letter-spacing: 0.48px;

            @media (max-width: $tablet) {
                font: var(--advantages-card-mobile-title-font);
            }
        }

        &-text {
            font: var(--innovations-description-font);
            line-height: 110%;
            letter-spacing: 0.44px;

            @media (max-width: $tablet) {
                font: var(--advantages-card-mobile-description-font);
            }
        }
    }
}