.top {
    background-color: var(--color-black-19);

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--color-black-1E);
        padding: 36rem 447rem;

        @media (max-width: $tablet) {
            padding: 30rem 20rem 30rem 20rem;
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }

        &-link {
            font: var(--buttons-font);
            line-height: 100%;
            letter-spacing: 0.4px;
            color: var(--color-white);

        }

        @media (max-width: $tablet) {
            &-item {
                padding-bottom: 20rem;
            }

            &-item:nth-child(2n) {
                display: none;
            }
        }

        &-link:hover {
            color: var(--color-green);
        }
    }

    &__title {

        &-text {
            font: var(--innovations-title-font);
            line-height: 110%;
            letter-spacing: 0.96px;
            text-transform: uppercase;
            padding-top: 160rem;
            padding-left: 123rem;

            @media (max-width: $tablet) {
                font: var(--advantages-mobile-title-font);
                padding: 50rem 20rem 50rem 20rem;
                text-align: center;
            }
        }
    }

    &__frames {
        display: flex;
        flex-direction: row;
        gap: 20rem;
        padding: 62rem 120rem;
        justify-content: space-between;

        @media (max-width: $tablet) {
            flex-direction: column;
            padding: 50rem 20rem 50rem 20rem;
        }
    }

    &__box {
        @media (max-width: $tablet) {
            width: 100%;
        }

        &-icon {
            width: 72rem;
            height: 50rem;

        }

        &-drone {
            display: flex;
            justify-content: center;
        }

        &-img {
            max-width: 376rem;
            margin: 0 92rem 84rem 77rem;

            @media (max-width: $tablet) {
                width: 60%;
                justify-content: center;
            }
        }


    }

    &__description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: $tablet) {
            flex-direction: column;
            margin-bottom: 50rem;
        }

        &-text {
            font: var(--innovations-frame-title-font);
            letter-spacing: 0.48px;
            width: 50%;

            @media (max-width: $tablet) {
                width: 100%;
                margin-bottom: 20rem;
                text-align: center;
                font: var(--advantages-card-mobile-title-font);
            }

        }

        &-price {
            font: var(--top-price-font);
            letter-spacing: 0.64px;
            width: 50%;

            @media (max-width: $tablet) {
                width: 100%;
                text-align: center;
                font: var(--innovations-frame-title-font);
            }
        }
    }
}