@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Montserrat:wght@300;500;600&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,600;8..144,700&display=swap');


$inter-fonts: 'Inter', sans-serif;
$montserrat-fonts: 'Montserrat', sans-serif;
$roboto-fonts: 'Roboto Flex', sans-serif;