@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Montserrat:wght@300;500;600&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,600;8..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Red+Hat+Display:wght@400;500&display=swap');

$inter-fonts: 'Inter', sans-serif;
$montserrat-fonts: 'Montserrat', sans-serif;
$roboto-fonts: 'Roboto Flex', sans-serif;


:root {
    --inter-fonts: 'Inter', sans-serif;
    --montserrat-fonts: 'Montserrat', sans-serif;
    --roboto-fonts: 'Roboto Flex', sans-serif;

    --top-header-font: 600 14rem/normal var(--roboto-fonts);
    --bottom-header-font: 400 12rem/normal var(--inter-fonts);
}

.bottom-header-font {
    font: var(--bottom-header-font);
}