@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Montserrat:wght@300;500;600&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,600;8..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Red+Hat+Display:wght@400;500&display=swap');

$inter-fonts: 'Inter', sans-serif;
$montserrat-fonts: 'Montserrat', sans-serif;
$roboto-fonts: 'Roboto Flex', sans-serif;


:root {
    --inter-fonts: 'Inter', sans-serif;
    --montserrat-fonts: 'Montserrat', sans-serif;
    --roboto-fonts: 'Roboto Flex', sans-serif;

    //Global Fonts
    --buttons-font: 400 20rem/normal var(--inter-fonts);

    // Header Fonts
    --top-header-font: 600 14rem/normal var(--roboto-fonts);
    --bottom-header-font: 400 12rem/normal var(--inter-fonts);

    //Heading Fonts
    --heading-title-font: 600 54rem/normal var(--montserrat-fonts);
    --heading-mobile-title-font: 600 30rem/normal var(--montserrat-fonts);
    --heading-sub-title-font: 300 32rem/normal var(--inter-fonts);
    --heading-mobile-sub-title-font: 300 28rem/normal var(--inter-fonts);

    //Innovations Fonts
    --innovations-title-font: 600 48rem/normal var(--montserrat-fonts);
    --innovations-sub-title-font: 300 48rem/normal var(--montserrat-fonts);
    --innovations-description-font: 200 22rem/normal var(--roboto-fonts);
    --innovations-frame-title-font: 600 24rem/normal var(--roboto-fonts);
    --innovations-frame-description-font: 200 22rem/normal var(--roboto-fonts);

    //Characteristics Fonts
    --characteristics-button-font: 400 16rem/normal var(--roboto-fonts);
    --characteristics-description-font: 200 16rem/normal var(--roboto-fonts);
    --characteristics-title-font: 600 18rem/normal var(--roboto-fonts);
    --characteristics-mobile-description-font: 200 12rem/normal var(--roboto-fonts);
    --characteristics-mobile-title-font: 600 12rem/normal var(--roboto-fonts);

    //Advantages Fonts
    --advantages-title-font: 600 48rem/normal var(--montserrat-fonts);
    --advantages-card-title-font: 600 24rem/normal var(--roboto-fonts);
    --advantages-card-description-font: 200 22rem/normal var(--roboto-fonts);
    --advantages-mobile-title-font: 600 30rem/normal var(--montserrat-fonts);
    --advantages-card-mobile-title-font: 600 19rem/normal var(--roboto-fonts);
    --advantages-card-mobile-description-font: 200 16rem/normal var(--roboto-fonts);

    //Top Fonts
    --top-price-font: 600 32rem/normal var(--roboto-fonts);

    //Everyone Fonts
    --everyone-tablet-title-font: 600 26rem/normal var(--montserrat-fonts);
    --everyone-tablet-thin-title-font: 300 26rem/normal var(--montserrat-fonts);
    --everyone-mobile-title-font: 300 28rem/normal var(--montserrat-fonts);
    --everyone-mobile-thin-title-font: 300 22rem/normal var(--montserrat-fonts);
    --everyone-card-mobile-title-font: 600 18rem/normal var(--roboto-fonts);
    --everyone-card-mobile-description-font: 200 14rem/normal var(--roboto-fonts);

    //Serive Fonts
    --service-card-title-font: 700 32rem/normal var(--roboto-fonts);

    //Footer Fonts
    --bottom-footer-font: 300 17rem/normal var(--inter-fonts);
}

.bottom-header-font {
    font: var(--bottom-header-font);
}

.top-header-font {
    font: var(--top-header-font);
}