.header-top {
    color: var(--color-white);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20rem 119rem 22rem 120rem;
        border-bottom: 1rem solid var(--color-sand);

        @media (max-width: $tablet) {
            display: none;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        gap: 32rem;

        &-item {
            font: var(--top-header-font);
            letter-spacing: 0.28px;
        }

        &-green {
            color: var(--color-green);
        }
    }

    &__icons {
        display: flex;
        flex-direction: row;
        gap: 10rem;
    }
}

.header-bottom {
    position: relative;


    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 46rem 175rem 145rem 120rem;

        @media (max-width: $tablet) {
            flex-direction: column;
            margin: 46rem 0 65rem 10%;
        }


    }

    &__row {
        display: flex;
        flex-direction: row;
        gap: 32rem;

        @media (max-width: $tablet) {
            display: none;
        }

    }

    &__nav-link {
        text-decoration: none;
        font: var(--bottom-header-font);
        letter-spacing: 0.24px;
        line-height: 150%;
        color: inherit;
        letter-spacing: 3.9rem;
    }

    &__mobile {
        display: none;

        @media (max-width: $tablet) {
            display: none;

            &-row {
                display: flex;
                flex-direction: column;
                gap: 40rem;
                position: absolute;
                top: 20%;
                left: 45%;
                align-items: center;
            }

            &-link {

                font: var(--heading-sub-title-font);
                color: var(--color-white);
            }

            height: 100vh;
            z-index: 1;
        }
    }


    @media (max-width: $tablet) {
        &__logo {
            width: 200rem;
            position: absolute;
            left: 50rem;
            top: 55rem;
        }
    }

    &__span {
        display: block;
        width: 35px;
        height: 3px;
        margin: 6px auto;
        background-color: #686868;
        transition: all 0.3s ease-in-out;
    }

    &__hamburger.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-7px, 5px);
    }

    &__hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    &__hamburger.active span:nth-child(3) {
        transform: rotate(45deg) translate(-7px, -7px);
    }

    @media (min-width: $tablet) and (max-width:$desctop) {
        &__hamburger {
            display: none;
        }
    }

    @media (max-width: $tablet) {
        &__hamburger {
            display: block;
            position: absolute;
            right: 50rem;
            top: 48rem;
        }
    }
}